setuptools==68.2.2
wheel==0.41.2
Cython==3.0.8
numpy==1.24.3
pandas==1.5.3
ccxt==4.2.77
python-telegram-bot==20.7
python-dotenv==1.0.0
ta==0.10.2
flask==2.3.3
gunicorn==21.2.0
requests==2.31.0
